 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm a computational biologist with a wet-lab background in genetics, genomics and developmental biology. I'm currently employed as a bioinformatics postdoc at the Friedrich Miescher Institute in Basel, where I collaborate with colleagues from the Marc Buehler and Helge Grosshans labs.</p>
                </div>
                <div class="col-lg-4">
                    <p>My scientific interests center around understanding gene regulation from a genomic perspective. I work or have worked with transcription factor binding and epigenetics (ChIP-seq, DamID), gene expression (RNA- and small RNA-seq), evolutionary and other functional genomics data (DNase-seq, FAIRE-seq, ribosomal footprinting, etc.). </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
