
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Publications & Projects</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="well">
		<h3><a href="http://genesdev.cshlp.org/content/early/2017/10/11/gad.301093.117.abstract"><span class="fa fa-file-text-o"></span> Two distinct transcription termination modes dictated by promoters</a></h3>		
		<p>Takashi S. Miki*, <strong>Sarah H. Carl*</strong>, Helge Grosshans</p>
		<p>2017 - <em>Genes & Development</em></p>

       	    <hr>


		<h3><a href="https://www.nature.com/nsmb/journal/vaop/ncurrent/full/nsmb.3419.html"><span class="fa fa-file-text-o"></span> RNA fate determination through cotranscriptional adenosine methylation and microprocessor binding</a></h3>		
		<p>Philip Knuckles, <strong>Sarah H Carl</strong>, Michael Musheev, Christof Niehrs, Alice Wenger, Marc Buehler</p>
		<p>2017 - <em>Nature Structural and Molecular Biology</em></p>

       	    <hr>

		<h3><a href="http://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1006313"><span class="fa fa-file-text-o"></span> XRN2 Autoregulation and Control of Polycistronic Gene Expresssion in Caenorhabditis elegans</a></h3>		
		<p>Takashi S. Miki, <strong>Sarah H. Carl</strong>, Michael B. Stadler, Helge Grosshans</p>
		<p>2016 - <em>PLOS Genetics</em></p>

			<hr>

		<h3><a href="http://link.springer.com/chapter/10.1007/978-3-319-24235-4_7"><span class="fa fa-file-text-o"></span> Comparative Genomics of Transcription Factor Binding in Drosophila</a></h3>		
		<p><strong>Sarah Carl</strong>, Steven Russell</p>
		<p>2015 - <em>Short Views on Insect Genomics and Proteomics</em></p>

       	    <hr>

                <h3><a href="http://www.biomedcentral.com/content/pdf/s12864-015-1495-3.pdf"><span class="fa fa-file-text-o"></span> Common binding by redundant group B Sox proteins is evolutionarily conserved in Drosophila</a></h3>
                <p><strong>Sarah H Carl</strong>, Steven Russell</p>
               <p>2015 - <em>BMC Genomics</em></p>
		
            <hr>

                <h3><a href="https://www.repository.cam.ac.uk/bitstream/handle/1810/247430/thesis.pdf?sequence=1"><span class="fa fa-file-text-o"></span> Evolutionary patterns of group B Sox binding and function in Drosophila</a></h3>
                <p><strong>Sarah H Carl</strong></p>
               <p>2015 - <em>Ph.D. thesis</em></p>
		
            <hr>

                <h3><a href="http://biorxiv.org/content/biorxiv/early/2014/06/19/006403.full.pdf"><span class="fa fa-file-text-o"></span> Beyond library size: a field guide to NGS normalization</a></h3>
                <p>Jelena Aleksic*, <strong>Sarah H Carl*</strong>, Michaela Frye</p>
               <p>2014 - <em>BioRxiv</em></p>
		
            <hr>

                <h3><a href="http://www.genetics.org/content/196/2/539.full.pdf"><span class="fa fa-file-text-o"></span> Genetic complexity in a Drosophila model of diabetes-associated misfolded human proinsulin</a></h3>
                <p>Soo-Young Park, Michael Z Ludwig, Natalia A Tamarina, Bin Z He, <strong>Sarah Carl</strong>, Desiree A Dickerson, Levi Barse, Bharath Arun, Calvin L Williams, Cecelia M Miles, Louis H Philipson, Donald F Steiner, Graeme I Bell, Martin Kreitman</p>
               <p>2014 - <em>Genetics</em></p>
		
            <hr>

                <h3><a href="http://arxiv.org/pdf/1303.0396v1.pdf"><span class="fa fa-file-text-o"></span> Naturally occurring genetic variation influences the severity of Drosophila eye degeneration induced by expression of a mutant human insulin gene</a></h3>
                <p><strong>Sarah Carl</strong></p>
               <p>2013 - <em>arXiv (undergraduate honors thesis)</em></p>
        </div>
    </section>
