<!DOCTYPE html>
<html>
    {% include head.html %}
        <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico" type="image/vnd.microsoft.icon">
    <body id="page-top" class="index">
    {% include nav.html %}
    {% include header.html %}
    {% include about.html %}
    {% include portfolio_grid.html %}
    

    {% if site.contact == "static" %}
    {% include contact_static.html %}
    {% else %}
    {% include contact.html %}
    {% endif %}

    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}
    </body>
</html>
